
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blanchedalmond;
}

.center-block{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.label {
  text-align: center;
  padding-bottom: 10px;
  padding-right: 10px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
}